.imgR {
      width: 400px;
   /*   height: 200px;
      object-fit: cover; */
    float:right; 
     margin-left: 20px;
     margin-top: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin-bottom: 5px;
}
.imgL {
    width: 400px;
      /*   height: 200px;
        object-fit: cover; */
        float:left;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
